<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Title</title>
</head>
<body>
<div style="margin-top: 10px">Mr., ${name}</div>
<div>Please use this <a href="localhost:3000/wecare/user/setup/account/${id}/${verificationString}">link</a> to setup the account</b></div>
<div>Thank you</div></br>
<div><h4>WeCare Hospitals</h4></div>
<br/>
</body>
</html>